.rechero {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(20,20,20);
    border-radius: 20px;
    margin:10px;
    padding: 10px;
    padding-top: 0px;

    h1 {
        margin: 10px;
        font-size: 70px;
    }

    
}

.recjoinFTCButton {
    
    display: flex;
    background-color: rgb(40,40,70);
    padding: 5px;
    margin: 10px;
    border: 1px solid;
    border-radius: 7px;
    border-color: white;
    width:120px;
    height:40px;
    justify-content: center;
    align-items: center;
    text-decoration: solid;
    color: rgb(240,240,255);
    font-size: 25px;
    transition: background-color 0.3s;
    &:hover{
        background-color: rgb(120,120,210);
    }
}

.recsection1, .recsection2, .recsection4
{
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;
    margin: 10px;
    padding: 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(30, 30, 30);

    h1 {
        margin: 20px;
    }
    img {
        position: relative;
        width: 50%;
    }
}

.recsection1Text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    padding: 5px;

    h2{
        font-size: 20px;
    }
}

.recsection2 {
    background-color: rgb(20,20,20);
    justify-content: flex-end;

}

.recsection3, .recsection5 {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    
    h1, h2 {
        margin: 10px;
    }
}

.recsection4 {
    background-color: rgb(20,20,20);
}
